<% if ["html", "table", "div"].any? {  |tag|  @email.body.include? tag } %>
  <iframe width="100%" height="600" srcdoc="<%=  @email.body %>">
    <p>Your browser does not support iframes.</p>
  </iframe>
<% else %>
  <%= textilizable(@email.body) %>
<% end %>

<% if @email.attachments.any? %>
  <div class="box attachments">
    <h3><%= l(:label_attachment_plural) %></h3>
    <% options = { :author => true, :thumbnails => true} %>
    <%= render :partial => 'attachments/links',
      :locals => { :attachments => @email.attachments, :options => options, :thumbnails => (options[:thumbnails] && Setting.thumbnails_enabled?)} %>
  </div>
<% end %>